{{!--
This footer template is shared across all the pages.
--}}

<footer class="m-footer">
  <div class="m-footer__content">

    <div class="m-footer__body">Läs mer om oss på vår hemsida <a href="https://www.sigmastocks.com/sv/">www.sigmastocks.com</a></div>
    <a href="https://www.sigmastocks.com/sv/">
      <img class="m-footer__logo" src="{{@site.logo}}" alt="{{@site.title}}">
    </a>
    <div class = "m-footer__copyright">
      <span>Copyright &copy; {{date format="YYYY"}} Sigmastocks</span>
    </div>
  </div>
</footer>
