.m-nav {
  @include respond-to('medium') {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
}

.m-nav__left {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond-to('medium') {
    margin-bottom: 0;
    justify-content: flex-start;
  }

  button {
    margin-left: 35px;
  }

  ul {
    padding: 0;
    margin: 0;

    @include respond-to('medium') {
      display: flex;
      align-items: center;
    }

    li {
      color: var(--header-link-color);
      letter-spacing: 0.3px;
      font-size: 1.125rem;
      margin-bottom: 1.5rem;
      font-family: 'sofia-pro', Arial, Helvetica, sans-serif;
      text-align: center;

      @include respond-to('medium') {
        margin-bottom: 0;
        margin-right: 35px;
        position: relative;
      }

      &:last-of-type {
        margin-bottom: 0;

        @include respond-to('medium') {
          margin-right: 0;
        }
      }

      &.nav-current {
        font-weight: 600;
        text-decoration: underline;
      }

      a {
        color: inherit;
      }
    }
  }
}

.m-nav__right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  ul {
    padding: 0;
    margin: 0;

    @include respond-to('medium') {
      display: flex;
      align-items: center;
    }

    li {
      color: var(--header-link-color);
      letter-spacing: 0.3px;
      font-size: 1.125rem;
      margin-bottom: 1.5rem;
      font-family: 'sofia-pro', Arial, Helvetica, sans-serif;
      text-align: center;

      @include respond-to('medium') {
        margin-bottom: 0;
        margin-right: 35px;
        position: relative;
      }

      &:last-of-type {
        margin-bottom: 0;

        @include respond-to('medium') {
          margin-right: 0;
        }
      }

      &.nav-current {
        font-weight: 600;
        text-decoration: underline;
      }

      a {
        color: inherit;
      }
    }
  }
  a {
    margin: 0.5rem;
    @include respond-to('medium') {
      margin: 0;
    }
    &:last-of-type {
      @include respond-to('medium') {
        margin-left: 1rem;
      }
    }
  }
}

.rtl {
  .m-nav__left ul li {
    @include respond-to('medium') {
      margin-right: 0;
      margin-left: 35px;

      &:last-of-type {
        @include respond-to('medium') {
          margin-left: 0;
        }
      }
    }
  }
}
