.m-heading__meta {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2px;
  font-size: 0.875rem;
  font-weight: 600;
  flex-wrap: wrap;

  @include respond-to('medium') {
    font-size: 1rem;
  }
}

.m-heading__meta__tag,
.m-heading__meta__time {
  color: var(--link-color) !important;
}

.m-heading__meta__tag {
  text-decoration: none !important;
  background-color: white;
  padding: 0.5em 1.25em;
  border-radius: 10px;
  margin: 0.5rem;
  @include bs(0 2px 4px var(--button-shadow-color-normal));
  @include transition(box-shadow .25s cubic-bezier(.02,.01,.47,1));
  &:hover {
    @include bs(0 4px 8px var(--button-shadow-color-hover));
  }
}

.m-heading__meta__divider {
  display: inline-block;
  color: var(--primary-border-color);
  margin: 0 10px;
}
