.m-heading__title {
  color: var(--titles-color);
  letter-spacing: 0.4px;
  line-height: 1.3;
  font-size: 1.750rem;
  margin: 0 0 10px;
  font-family: 'sofia-pro', Arial, Helvetica, sans-serif;

  @include respond-to('medium') {
    letter-spacing: 0.5px;
    font-size: 4rem;
    margin-bottom: 15px;
  }

  &.in-post {
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 2rem;
    margin-bottom: 15px;

    @include respond-to('medium') {
      letter-spacing: 0.7px;
      font-size: 4rem;
      margin-bottom: 1.5rem;
    }
  }

  &.in-page {
    margin: 0;
  }
}
