.m-footer {
  flex-shrink: 0;
  background-color: var(--footer-background-color);
  background-size: 12rem;
  background-position: bottom 2.5rem center;
  padding-bottom: 6rem; //To add space for the logo
  @include respond-to('medium') {
    background-size: 16rem;
    background-position: bottom 2rem right 3rem;
    padding-bottom: 2rem;
  }
}

.m-footer__content {
  text-align: center;
  padding: 30px $mobile-space;
  margin: 0 auto;
  align-items: center;
  color: var(--footer-text-color);

  @include respond-to('medium') {
    padding: 4rem 10%;
    max-width: 93rem;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
  }
}

.m-footer__body{
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.m-footer__logo {
  width: 21%;
  margin-bottom: 1rem; 
  min-width: 200px;
}

.rtl {
  .m-footer-social {
    direction: ltr;
  }
}
