.m-footer {
  flex-shrink: 0;
  background-color: var(--foter-background-color);
  background-size: 12rem;
  background-position: bottom 2.5rem center;
  padding-bottom: 6rem; //To add space for the logo
  @include respond-to('medium') {
    background-size: 16rem;
    background-position: bottom 2rem right 3rem;
    padding-bottom: 2rem;
  }
}

.m-footer__content {
  text-align: center;
  padding: 30px $mobile-space;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto) 7rem 3rem auto;
  align-items: center;
  color: var(--footer-text-color);

  @include respond-to('medium') {
    padding: 4rem 10%;
    max-width: 93rem;
    grid-template-rows: repeat(2,auto);
    grid-template-columns: repeat(4, minmax(max-content, 16rem));
    grid-gap: 1rem;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
  }
}

.m-footer__heading{
  color: var(--footer-heading-color);
  font-size: 1.25rem;
  margin-bottom: 1.25em;
}

.m-footer__links{
  @include respond-to('medium') {
    margin-bottom: 6rem;
  }
}

.m-footer__link{
  color: var(--footer-link-color);
  display: block;
  padding-bottom: 0.75em;
  @include transition(color .1s cubic-bezier(.02,.01,.47,1));
  &:hover {
    color: var(--footer-link-color-hover);
  }
}

.rtl {
  .m-footer-social {
    direction: ltr;
  }
}
