:root {
  --background-color: #fcfcfc;
  --post-background-color: #fff;
  --primary-foreground-color: #5C5C5C;
  --secondary-foreground-color: #222222;
  --primary-subtle-color: #00704a;
  --secondary-subtle-color: #f8f8f8;
  --divider-color: #d5d5d5;
  --titles-color: #2B2B2B;
  --link-color: #222222;
  --post-link-color: #2B2B2B;
  --primary-border-color: #9b9b9b;
  --secondary-border-color: rgb(250, 250, 250);
  --article-shadow-normal: 0 10px 10px rgba(0,0,0,0.08);
  --article-shadow-hover: 0 4px 60px 0 rgba(0,0,0,0.2);
  --transparent-background-color: rgba(255,255,255,0.99);
  --header-background-color: #2B2B2B;
  --header-link-color: #FFFFFF;
  --footer-background-color: #2B2B2B;
  --footer-heading-color: #ffffff;
  --footer-link-color: #FFFFFF;
  --footer-link-color-hover: #FFFFFF;
  --footer-text-color: #FFFFFF;
  --submenu-shadow-color-opacity: 0.25;
  --button-shadow-color-normal: rgba(108, 108, 108, 0.2);
  --button-shadow-color-hover: rgba(108, 108, 108, 0.3);
  --input-background-color: #fff;
  --icon-button-background-color: #fff;
}