/** Colors */
$white: #fff;
$black: #000;

/** Approximate Material Design color codes, 
to keep track of the different hues */
$grey-50: #FCFCFC; 
$grey-100: #f3f3f3; //Footer
$grey-500: #9b9b9b;
$grey-700: #5C5C5C; // Body
$grey-900: #2B2B2B; // Headings
$grey-950: #222222; // Tags, author name

$trusted-green: #00704a;
$trusted-green-dark: #29514a;


/* Shadow and highlight colors */
$trusted-green-shadow: rgba(154, 207, 181, 0.4);
$grey-shadow: #7474741A;


/** Box Model  */
$mobile-space: 20px;
$mobile-bar-height: 50px;
$desktop-bar-height: 64px;
