/** Colors */

$white: #fff;
$black: #000;

/** Approximate Material Design color codes, 
to keep track of the different hues */

$grey-500: #9b9b9b;
$grey-900: #2B2B2B;

/** Config  */

$mobile-space: 20px;
$mobile-bar-height: 50px;
$desktop-bar-height: 64px;
